
// fonts variales
$font10: 10px;
$font11: 11px;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;

$fontFamilyMain: Arial, Helvetica, sans-serif;
$fontFamilySecond: Helvetica, Arial, sans-serif;

$fontColorMain: #333;

// border
$bdrsSmall: 5px;
$bdrsBig: 10px;
$bdDefaultColor: #ccc;

$bdDefault: 1px solid $bdDefaultColor;

// color
$white: #fff;
$black: #000;
$bcColorMain: #3ab;